body {
    font-family: Arial, sans-serif;
    display: grid;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #252525;
    color: #999;
}

.deck {
    margin: 20px auto;
    display:grid;
    grid-template-columns: 145px 145px;
    grid-row: auto auto;
    grid-column-gap: 10px;
    grid-row-gap: 10px;
}

.card {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 125px;
    height: 150px;
    margin: 10px;
    font-size: 3em;
    border-radius: 5px; /* Rounded corners */
    cursor: pointer;
    transition: background-color 0.3s, border-color 0.3s;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.5);
}

.selected {
    border: 2px solid purple;
    background-color: purple;
    background-color: rgba(128, 0, 128, 0.25);
}

.dark-button {
    background-color: #333; /* Dark background */
    color: #fff; /* White text */
    border: none; /* No border */
    padding: 10px 20px; /* Padding */
    border-radius: 5px; /* Rounded corners */
    cursor: pointer; /* Change cursor to pointer on hover */
    font-size: 16px; /* Font size */
    transition: background-color 0.3s ease; /* Smooth transition for background color change */
    margin: 16px 16px 8px 0px;
    width: 140px;
}

.dark-button:hover {
    background-color: purple;
    background-color: rgba(128, 0, 128, 0.75);
}

.dark-input {
    background-color: #333; /* Dark background */
    color: #fff; /* White text */
    border: 2px solid #555; /* Dark border */
    padding: 10px; /* Padding */
    border-radius: 5px; /* Rounded corners */
    font-size: 16px; /* Font size */
    transition: border-color 0.3s ease; /* Smooth transition for border color change */
    width: 280px;
}

.dark-input:focus {
    outline: none; /* Remove default focus outline */
    border-color: purple; /* Darker border on focus */
    
}